<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='css/style.css'>
    <meta charset="utf-8"
  </head>
  <body>
    <header >
      <h1 class='title'><a href="/"><%= title %></a></h1>
      <p>Welcome to <%= title %></p>
    </header> -->

    <% include header.html %>
      <h1>Listado</h1>
      <table>
        <tr>
        <th>Artículo</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Foto</th>
        <th>Etiquetas</th>
        <th>Referencia</th>
      </tr>
      <% resultados.forEach(function(result) { %>
      <% if (result.venta) { %>
        <% trans = 'Venta' %>
      <tr class='venta'>
      <% } else { %>
        <% trans = 'Compra' %>
      <tr class='compra'>
      <% } %>
      <td><%= result.nombre %></td>
      <td class='transaccion'><%= trans %></td>
      <td class='precio'><%= result.precio %> €</p>
      <td><img class="foto"src="<%= result.foto %>"></td>
      <td><%= result.tag %></td>
      <td><%= result._id %></td>
    <%- )} %>
      </tr>
    </table>
    <!-- <p><%= resultados %></p> -->
  </body>
</html>
