<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='css/style.css'>
  </head>
  <body>
    <header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </header>
  <form action="/anuncios" method="GET">
  <input type="text" name="nombre" id="nombre" placeholder="Artículo">
  <input type="radio" name="venta" value="true" checked>Venta 
  <input type="radio" name="venta" value="false">Compra
  <input type="text" name="precio" id="precio" placeholder="Precio max-min">
  <select name="tag" size="1" >
    <option disabled selected value> -- Seleccione una etiqueta -- </option>
    <option value="lifestyle">Lifestyle</option>
    <option value="mobile">Mobile</option>
    <option value="work">Work</option>
    <option value="motor">Motor</option>
  </select>
  <button type="submit" value="Enviar">Enviar</button>
  <button type="reset" value="Restablecer">Restablecer</button>
  </form>
  </body>
</html>
